<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue example</title>
    <meta charset="utf-8" />
    <style>
    .finished{
        text-decoration: underline;
    }
    #todolist {
        text-align: center;
        /* margin: 0 auto; */
    }
    /* #ulList {
        text-align: left;
    } */
    </style>
</head>
<body>
    <div id="todolist">
       <h1 v-text="title"></h1>
        <input v-model="newItem" v-on:keyup.enter="addNew"></input>
       <ul>
           <li v-for="item in Items"  v-bind:class="{finished: item.isFinished}" v-on:click="toggleFinish(item)">
               {{item.lable}}
           </li>
       </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <!-- 或是直接加载本地的vue.js -->
    <!--<script type="text/javascript" src="vue.js" ></script>-->
    <script type="text/javascript">
        // 备注：下面的代码由于需要找到 id=app1的选择器，因此放在head标签里面会报错（找不到el: '#app1'）
        var app = new Vue({
            el: '#todolist',
            data: function() {
                return {
                    title: "this is todo list",
                    // 以下是静态的数组，仅实验用；
                    Items:[
                        // {
                        //     lable: 'coding',
                        //     isFinished: true
                        // },
                        // {
                        //     lable: 'walking',
                        //     isFinished: true
                        // }
                    ],
                    newItem: ''
                }
            },
            methods:{
                toggleFinish: function(item) {
                    item.isFinished = !item.isFinished;    //取反
                },
                addNew: function() {
                    console.log(this.newItem);// 打印
                    this.Items.push({
                        lable: this.newItem,
                        isFinished: false
                    });
                    this.newItem = '';
                }
            }
        });

    </script>
</body>
</html>